# Rust
backend/target/
backend/**/*.rs.bk
backend/Cargo.lock

# Diesel
backend/.env

# Expo Environment
mobile/.env

# Node
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/yarn-error.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/
